
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Professional job Placerz!</h2>
        <p>Please keep us employed by allowing us to get you a job!</p>
        <p>Its a dog eat dog world out there, so good luck!</p>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>